#calculadora{
	width: 400px;
	height: 240px;
	background-color: #B7B7B7;
	border: solid 5px;
	border-radius: 15px;
}

#uno{
	font-size: 5em;
	border: 3px solid #000000;
	border-radius: 10px;
	margin-right: 5px;
	margin-left: 10px;
	padding: 3px 10px 3px 10px;
	box-shadow: 2px 2px #000000;
}

#cero{
	font-size: 5em;
	border: 3px solid #000000;
	border-radius: 10px;
	margin-right: 5px;
	padding: 3px 10px 3px 10px;
	box-shadow: 2px 2px #000000;
}

#mas{
	font-size: 5em;
	border: 3px solid #000000;
	border-radius: 10px;
	margin-right: 5px;
	padding: 3px 10px 3px 10px;
	box-shadow: 2px 2px #000000;
}

#igual{
	font-size: 5em;
	border: 3px solid #000000;
	border-radius: 10px;
	margin-right: 5px;
	padding: 3px 10px 3px 10px;
	box-shadow: 2px 2px #000000;
}

#resultado{
	font-size: 5em;
	background-color: #7FFF00;
	border: solid 2px;
	margin-left: 10px;
}
